<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>
 
    <typeAliases>
        <typeAlias type="com.gamsungcamp.vibes.login.vo.LoginForm" alias="LoginForm"/>
        
        <typeAlias type="com.gamsungcamp.vibes.user.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.gamsungcamp.vibes.user.vo.UserForm" alias="UserForm"/>
    </typeAliases>
 
    <!-- <mappers>
        <mapper resource="mapper/user-mapper.xml"/>
    </mappers> -->
    
</configuration>
